# Virtualenv
venv/

# Logs, cache
logs/
*.log
*.tmp
*.temp
*.bak
__pycache__/
*.py[cod]

# Cookies, session, user data
cookies/*
tiktok_user_data/
chrome_profiles/

# cookie_tmp file
cookie_tmp.txt
cookies_tmp.txt

# Video files
video_cache/
*.mp4
*.webm
*.mov

# Node modules
node_modules/

# IDE
.vscode/
.idea/

# Bytecode
*.pyo
