# =========================
# 📦 fb2tiktok Git Ignore
# =========================

# ▶️ Virtual Environment
venv/

# 🧹 Cache
*.tmp
*.temp
*.bak
*.py[cod]
*.pyo
__pycache__/

# 🍪 Cookies, Session, User Data
cookies/*
cookie_tmp.txt
cookies_tmp.txt
tiktok_user_data/
chrome_profiles/

# 🎞 Video Files
video_cache/*
!video_cache/.gitkeep
*.mp4
*.webm
*.mov

# 📦 Node Modules
node_modules/

# 🛠 IDE & Editor Settings
.vscode/
.idea/
