# Web automation
playwright==1.53.0
playwright-stealth==2.0.0

# Facebook scraping
facebook-scraper==0.2.59
fake-useragent==2.2.0
psutil==7.0.0

# TikTok uploader bot
tqdm==4.67.1
requests==2.32.4
yt-dlp==2025.6.30

# Parsing & utility
lxml==6.0.0
beautifulsoup4==4.13.4
dateparser==1.2.2

# Optional (nếu còn xài)
aiohttp==3.12.13
